.sidedrawer.sidedrawer-left .sidedrawer-header-image{color:#F8F8F8;height:60;width:60;font-size:60;padding:0;margin-bottom:5;margin-top:20}.sidedrawer.sidedrawer-left .footnote{color:rgba(255,255,255,0.5)}.sidedrawer .sidedrawer-header{background-color:#570253}.sidedrawer .sidedrawer-header .sidedrawer-header-brand{color:#fff}.sidedrawer .sidedrawer-content{background-color:#fff}
