<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<StackLayout class="page">
    <GridLayout rows="*" class=''>
        <StackLayout #container row="0">
            <Image src="res://elever_logo" stretch="aspectFit" horizontalAlignment="center" class="logo"></Image>

            <!-- <Label text="A one-stop gateway to a more" class="tag-line" style="margin-top: 20;"></Label>
            <Label text="engaging and convenient community" class="tag-line"></Label>
            <Label text="management experience for every" class="tag-line"></Label>
            <Label text="community member" class="tag-line" style="margin-bottom: 20;"></Label> -->

            <Button class="btn btn-purple" text="SIGN IN" (tap)="onSigninButtonTap()"></Button>
             <Label class="m-t-5 m-b-10 m-l-170 m-r-15" text="Register"></Label>

            
                <!-- <StackLayout class="hr-light"></StackLayout>
                <Label title="Settings" route="/settings" icon="&#xf013;" [isSelected]="isPageSelected('Settings')">
                </Label> -->
          

            <!-- <GridLayout columns="auto, *" class="">
                <Label col="0" text="&#xf457;" class="ionicons md mr-10 ml-10 color-white" horizontalAlignment="left" verticalAlignment="center"></Label>
                <TextField col="1" #password hint="Password" [secure]="showPassword" [(ngModel)]="user.password" class="input-text"></TextField>
                <Label col="2" text="&#xf133;" class="ionicons md mr-10 color-white" (tap)="togglePassword()" horizontalAlignment="right" verticalAlignment="center"></Label>
            </GridLayout> --> -->


           
        </StackLayout>
    </GridLayout>
</StackLayout>