// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class
.fa {
    font-family: "FontAwesome";
 }
 // Common page class
 .page-content {
     .page-placeholder {
         background-color: $background-purple;
         color: $page-icon-color;
         font-size: $page-content-placeholder-font-size;
         vertical-align: center;
         horizontal-align: center;
     }
 
     .page-icon {
         font-size: 72;
         vertical-align: top;
         horizontal-align: center;
         color: $page-icon-color;
         margin-top: 20%;
     }
 }

 .action-bar {
    background-color: $background-purple;
 }

 .logo {
     width: 60%;
     height:52%;
     margin-top: 10;
 }

 .logo-login {
    width: 40%;
    height:40%;
    margin-bottom: 10px;
 }

 .home-button {
     padding-bottom: 30%
 }

 //Action bar
 ActionBar .action-bar-title {
     horizontal-align: center;
 }