// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on Android here
ActionBar .fa {
    padding: 40px;
}

.m-l-150 {
    margin-left: 150
}

.m-l-170 {
    margin-left: 174
}
.btn-purple {
    background-color: $background-purple;
    color: #fff;
}

.btn-outline{
    border-color: $background-purple;
    color: $background-purple;    
}

.form-login {
    width: 65%;
}

