<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Sign up"></Label>
</ActionBar>
<ScrollView>
    <StackLayout class="page p-t-15">
        <Button class="btn btn-outline" (tap)="onSignupWithSocialProviderButtonTap()" text="Sign up with Social Provider"></Button>
        
        <Label class="m-t-10 text-center" text="or"></Label>

        <TextField class="m-t-10 m-b-10 m-l-15 m-r-15" hint="Name" autocorrect="false" autocapitalization="none" [(ngModel)]="name"></TextField>
        <TextField class="m-t-10 m-b-10 m-l-15 m-r-15" hint="Email Address" keyboardType="email" autocorrect="false" autocapitalization="none"
            [(ngModel)]="email"></TextField>
        <TextField class="m-t-10 m-b-10 m-l-15 m-r-15" hint="Phone Number" keyboardType="telephone" autocorrect="false" autocapitalization="none"
            [(ngModel)]="telephone"></TextField>

        <TextField class="m-t-10 m-b-10 m-l-15 m-r-15" hint="Password" secure="true" autocorrect="false" autocapitalization="none"
            [(ngModel)]="password"></TextField>

        <Button class="btn btn-primary" text="SIGN UP" (tap)="onSignupButtonTap()"></Button>
    </StackLayout>
</ScrollView>
