<ActionBar class="action-bar login-page">
    <Label class="action-bar-title" text="Login"></Label>
</ActionBar>
<ScrollView>
    <StackLayout class="page p-t-15">
        <Button class="btn btn-outline form-login m-b-30" (tap)="onLoginWithSocialProviderButtonTap()" text="Log in with Social Provider"></Button>
        
        <Label class="m-t-10 text-center" text="or"></Label>

        <TextField #email class="m-t-10 m-b-10 m-l-15 m-r-15 form-login" hint="Email Address" keyboardType="email" autocorrect="false" autocapitalization="none"
            [(ngModel)]="user.email"></TextField>
        <TextField #password class="m-t-10 m-b-10 m-l-15 m-r-15 form-login" hint="Password" secure="true" autocorrect="false" autocapitalization="none"
            [(ngModel)]="user.password"></TextField>

        <Button class="btn btn-purple form-login m-b-30" text="SIGN IN" (tap)="onSigninButtonTap()"></Button>
        <Label class="m-t-5 m-b-10 m-l-150 m-r-15" text="Forgot password?" (tap)="onForgotPasswordTap()"></Label>
    </StackLayout>
</ScrollView>
