<!--
The MyDrawer custom component view is where you define what will be displayed in the app drawer.
Feel free to customize layouts and components to change how your app drawer looks.
-->
<GridLayout rows="auto, *" class="sidedrawer sidedrawer-left">
    <StackLayout row="0" class="sidedrawer-header" (tap)="editProfile">
        <Label class="sidedrawer-header-image fa" text="&#xf2bd;" (tap)="editProfile"></Label>
        <Label class="sidedrawer-header-brand" text="Yinus, Mariam" (tap)="editProfile"></Label>
        <Label class="footnote" text="mariam.yinus@summitech.ng" (tap)="editProfile"></Label>
    </StackLayout>

    <ScrollView row="1">
        <StackLayout class="sidedrawer-content">
            <MyDrawerItem title="Home" route="/home" icon="&#xf015;" [isSelected]="isPageSelected('Home')">
            </MyDrawerItem>
            <MyDrawerItem title="Health Checker" route="/browse" icon="&#xf1ea;" [isSelected]="isPageSelected('Browse')">
            </MyDrawerItem>
            <MyDrawerItem title="U-Fit" route="/browse" icon="&#xf1ea;" [isSelected]="isPageSelected('Browse')">
            </MyDrawerItem>
            <MyDrawerItem title="Support Groups" route="/featured" icon="&#xf005;" [isSelected]="isPageSelected('Featured')">
            </MyDrawerItem>
            <MyDrawerItem title="Offer Help" route="/search" icon="&#xf002;" [isSelected]="isPageSelected('Search')">
            </MyDrawerItem>
            <MyDrawerItem title="Offer Mentorship" route="/featured" icon="&#xf005;" [isSelected]="isPageSelected('Featured')">
            </MyDrawerItem>


            <StackLayout class="hr-light"></StackLayout>
            <MyDrawerItem title="Settings" route="/settings" icon="&#xf013;" [isSelected]="isPageSelected('Settings')">
            </MyDrawerItem>

            <StackLayout class="hr-light"></StackLayout>
                    <MyDrawerItem title="Logout" route="/logout" icon="&#xf09e;" [isSelected]="isPageSelected('Logout')">
                    </MyDrawerItem>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>